.root {
	display: flex;
	height: 100vh;

	background: #001429;
	color: white;
}

.schemaListSider {
	width: 250px;
	overflow: auto;
}

.menuItem {
	display: flex;
	gap: 1rem;
	align-items: center;
	justify-content: space-between;
}

.menuItem > span {
	color: white;
}
